package component

templ Banner() {
    <header class='p-6 flex flex-col justify-between'>
        <img src='/static/svg/logo.svg' class='h-20 w-20' />
    </header>
}

templ TextAndTitle(title string, text string) {
    <div>
        <h1 class='text-lg font-bold'>{title}</h1>
        <p class='text-sm'>{text}</p>
    </div>
}